{% extends "../base/base.html" %}

{% block title %}
    Log In 
{% endblock %}

{% block body %}
    <div class="">
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <label for="username">Your Username</label>
                <input type="text" name="username" />
    
                <label for="pass">Your Password</label>
                <input type="password" name="pass" />
            </div>
            
            <button> Log In </button>
        </form>
    </div>
{% endblock %}
